body {
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li a {
  display: block;
  padding: 8px;
  color: rgb(26, 15, 15);
  font-size: 18px;
  font-weight: bold;
}
.container {
  position: absolute;
  left: 40%;
  top: 10%;
}
.part {
  margin-left: 50px;
}
